@{
    ViewBag.Title = "Dashboard";
}

<hgroup class="title">
    <h1 data-bind="text: projectName">@ViewBag.Title.</h1>
    <h2>Dashboard</h2>
</hgroup>

@section Scripts {
   
    <script src="~/Scripts/URI.min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/Utils.js"></script>
    <script src="~/Scripts/ViewModels.js"></script>
    

    <script type="text/javascript">
        
        $(document).ready(function () {

            var viewModel = new ViewModels.Project.DashboardViewModel();

            viewModel.initialize(); 

        });
    </script>
}
