@{
    ViewBag.Title = "403 - Forbidden";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>403.</h1>
                <h2>Forbidden</h2>
            </hgroup>
        </div>
    </section>
}

<h3>You don't have permission to access this resource, so don't insist or you are going to bed without dessert.</h3>
