@{
    ViewBag.Title = "404 - Page Not Found";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>404.</h1>
                <h2>Page Not Found</h2>
            </hgroup>
        </div>
    </section>
}

<h3>Sorry, what you are looking is not in here. A lot of things are, but not that.</h3>
