@{
    ViewBag.Title = "500 - Internal Server Error";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>500.</h1>
                <h2>Internal Server Error</h2>
            </hgroup>
        </div>
    </section>
}

<h3>Our internal server goblins are too drunk to do anything. Please come back after the hangover is gone.</h3>
